.mainbg{
    background: url("C:/Users/lamir/Desktop/이미지/다운/dev.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    background-origin: content-box;
}

/*Text setting--------------------------------------------------------------------------------------------------------*/

.Firsttxt{
    text-align: center;
    font-family: "배달의민족 도현";
    font-size: 6em;
    line-height: 1em;
    position: relative;
    bottom: -2em;
}

#time {
    margin-left: 360px;
    font-size: 90px;
    font-family: "배달의민족 도현";
}

#calendar {
    margin-left: 427px;
    font-size: 90px;
    font-family: "배달의민족 도현";
}
